nav{
    font-family: 'Lobster', cursive !important;
}
.navbar-item:hover{
  color: #32d2d2 !important;
}
.nav-link{

}
.navbar-nav > li{
  padding-left:30px !important;
  padding-right:30px !important;
}.navbar-nav > li{
   margin-left:30px !important;
   margin-right:30px !important;
 }
